[submodule "pack/oil/start/oil"]
	path = pack/oil/start/oil
	url = https://github.com/stevearc/oil.nvim
[submodule "pack/gitsigns/start/gitsigns"]
	path = pack/gitsigns/start/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
